*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    user-select: none;
}

.container{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:purple;
}

.card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 0px white;
}

.div{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: black; */
}

.div input{
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    font-variant: small-caps;
}

.delbtn{
    /* margin-left: 30%; */
    padding: 2px;
    background:white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}

.div button{
    width: 70px;
    border:none;
    border-radius: 3px;
    background-color: purple;
    color: white;
}

.card{
    overflow-y: scroll;
    border-radius: 10px;
}

.card h1{
    text-align: center;
    margin-bottom: 10px;
}

.lists{
    width:95%;
    list-style:none;
    padding: 10px;
    margin: 5px;
    background-color:red;
    border-radius:5px;
    font-style: italic;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
}

.lists:hover{
    cursor: grab;
}

.lists:active{
    cursor: grabbing;
}

@media (max-width:891px) {
 
    .card{
        height: 300px;
        width: 200px;
    }

    .div input{
        width: 110px;
    }

    .delbtn{
    margin-left: 30%;
    }
}


@media (max-width:600px) {
 
    .container{
     display: flex;
     flex-direction: column;
     min-height: fit-content;
     gap: 50px;
    }

    .card{
        height: 300px;
    }
}